body {
    background-color: rgb(235, 233, 233);
    margin: 0;
}

.container-div-main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;

}

.header {
    margin-top: 60px;
    margin-left: 100px;
    padding-bottom: 20px;
}

.header h1 {
    color: rgb(238, 6, 45);
}

.header p {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
}

.card-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-left: 100px;
}

.calculations-div {
    height: 1000px;
    background-color: white;
}