body {
    background-color: rgb(235, 233, 233);
    margin: 0;
}

.container-div-main {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 40px;

}

.header {
    margin-top: 60px;
    margin-left: 100px;
    padding-bottom: 20px;
}

.header h1 {
    color: rgb(238, 6, 45);
}

.header p {
    margin-top: 0px;
    font-size: 20px;
    font-weight: 600;
}

.card-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin-left: 100px;
}

.calculations-div {
    height: 950px;
    background-color: white;

}

/* Mobile Responsive */
@media screen and (max-width:768px) {
    .container-div-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-info {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0px;
    }

    .header {
        margin-left: 13%;
    }

    .calculations-div {
        height: 600px;
    }
}

/* Tab Responsive */

@media screen and (max-width:991px) {
    .container-div-main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    .card-info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 5%;
    }


}